
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.about {
  width: 85vw;
  padding-bottom: 2rem ;
}

.about article h1 {
  font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 120%;
display: flex;
align-items: center;
color: #2F2926;
margin: 0;
padding-top: 20px;
}

.firstColumn {
  font-family: Work Sans;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 22.4px;
}

.secondColumn {
  font-family: Work Sans;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 19.2px;
}

.woman {
  width: 74px;
  height: 74px;
  left: 151px;
  top: 815px;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}

.imgInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgInfo h2 {
  margin: 0px;
  padding-top: 10px;
}

.imgInfo > p {
  margin: 0;
  padding: 0;
}
