.cartIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.3rem;
  z-index: 3;
  top: -0.3rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.8rem;
  color: white;
  background: #e5674e;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.cartBtn {
  background: black;
  height: 30px;
  padding: 10px 16px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 78.73%;
  right: 4.27%;
  top: 1.98%;
  bottom: 90.94%;
  background: #2f2926;
}
.showMenuCart {
  left: 4.53%;
  right: 4.53%;
  z-index: 2;
  top: 68px;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 25%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.showMenuCart h2 {
  left: 8.53%;
  right: 8.53%;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #2f2926;
}

.hideMenuCart {
  display: none;
}

.dropDownContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.myOrders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.myOrders article h3 {
  margin: 0;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.myOrders article p {
  margin: 0;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}



.valueChange {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.valueChange p {
  margin: 0;
}

.valueChange p {
  font-family: Work Sans;
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #2f2926;
}

.orderBtnOne,
.orderBtnTwo {
  border: none;
  background-color: #ffffff;
}

.button {
  color: white;
  width: 248px;
  height: 55px;
  background: #2f2926;
  border-radius: 50px;
  border: none;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 2rem;
}

.totalPrice  {
  display: flex;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 120%;
  color: #2f2926;
}

.delivery {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #2f2926;
}

span {
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding-left: 6rem;
  margin: 0;
  line-height: 100%;
  width: 4rem;
}
