.showMenuCart {
  right: 17px;
  z-index: 2;
  top: 68px;
  position: absolute;
  padding: 3rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
 
}

.cartIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.3rem;
  z-index: 3;
  top: -.3rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  font-size: .8rem;
  color: white;
  background-color: red;
}

.cartBtn {
  background: black;
  height: 30px;
  padding: 10px 16px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 78.73%;
  right: 4.27%;
  top: 1.98%;
  bottom: 90.94%;
  background: #2f2926;
}

.hideMenuCart {
  display: none;
}

.button {
  color: white;
  width: 248px;
  height: 55px;
  left: 64px;
  top: 542px;
  background: #2f2926;
  border-radius: 50px;
}
