.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  background: var(--green);
}

.gridItemLeft {
  grid-column: 1;
  height: 100vh;
}

.gridItem {
  position: absolute;
  padding: 59px;
  margin-top: 205px;
}

.gridItemRight {
  grid-column: 3;
  height: 100vh;
}
