body {
  background: #f3e4e1;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.menu h1 {
  margin: 0 auto;
  width: 311px;
  height: 60px;
  top: 119px;
  text-align: center;
  color: #2f2926;
  font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 120%;
}

.orders {
  display: flex;
  flex-direction: column;
}

.menuOrders {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: left;
  align-items: baseline;
  gap: 0.5rem;
  height: 5.4rem;
  gap: 1rem;
}

.menuOrders > p {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;

}

.menuOrders h3 {
  font-weight: bold;
  font-size: 23px;
  line-height: 100%;
  margin: 0;
}

div > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #2f2926b6;
  line-height: 70%;
}

.menuOrders button {
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  background: var(--brown);
  align-items: center;
  justify-content: center;
}
