body {
    background: #f3e4e1;
}

.menu {
  align-items: center;
}

.orders {
  text-align: left;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  
}

.menu h1 {
  width: 311px;
  height: 60px;
  top: 119px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: #2f2926;
}


