.showMenu {
    display: block;
    z-index: 1;
    top: 0px;
    position: absolute;
    background: var(--brow);
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 667px;
}

.dropDownContainer {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDownContainer p {
    color: white;
}

ul {
    margin-block-start: 0;
    padding: 0;

}

.dropDownContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 235px auto 0;
    font-size: 32px;
    font-family: 'PT Serif', serif;
    list-style-type: none;
    background:  #2F2926;
    position: absolute;
    top: -235px;
    height: 100vh;
    width: 100%;
    text-decoration: none;
}

.navbtn {
    background: white;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    top: 16px;
    left: 16px;
    z-index: 2;
    position: absolute;

}
.hideMenu {
    display: none;
    
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: none;
    width: 48px;
    border-left: none;
    border-right: none;
}